/* header */
* {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}
h1 {
    font-weight: 400;
    font-size: 50px;
}
h2 {
    font-size: 42px;
    font-weight: 300;
}
a {
    color: aquamarine;
    font-size: 16px;
}
.phoneSection{
    color: grey;
    font-size: 21px;
}
/* phone image */
/* tent section */
p {
    padding: 30;
}
/* phone image section */
.phoneimg {
    padding: 30px;
    
}
/* footer */
footer {
    padding: 40px;
}