/* header */
* {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
}
a {
    color: aquamarine;
}
.phoneSection{
    color: grey;
}
/* phone image */
/* tent section */
p {
    padding: 30;
}
/* phone image section */
.phoneimg {
    padding: 30px;
    
}
/* footer */
footer {
    padding: 40px;
}